---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="记录一个野生程序员的琐事"
  pubDate={new Date('2023-2-16')}
  updatedDate={new Date('2023-2-16')}
>
  <ul>
    <li>Working in DIDI</li>
    <li>Living in Beijing with my wife</li>
    <li>Music / Code / Social media</li>
  </ul>
</Layout>
