/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
}

nav img {
  vertical-align: middle;
}

p img {
  margin: 0px auto;
}

pre {
  font-family: 'Fira Code';
}

.prose code {
  font-family: Fira Code !important;
  color: rgb(0, 149, 255) !important;
}

.prose hr {
  border-top: 1px solid #e5e7eb;
}

.prose blockquote {
  margin-left: 0;
  margin-right: 0;
}

.link {
  background: linear-gradient(to right, #4abf8a, #0095ff);
  -webkit-background-clip: text;
  color: transparent;
}

.link:hover {
  background: linear-gradient(to right, #4abf8a, #1000ff);
  -webkit-background-clip: text;
  color: transparent;
}

.header-anchor {
  float: left;
  margin-top: 0.1em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: .85em;
  opacity: 0;
  text-decoration: none;
  border: 0!important;
  color: #48b0f1 !important;
}

.header-anchor:hover {
  opacity: 0.8;
}

.prose a {
  color: #48b0f1 !important;
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
 * Based on https://github.com/chriskempson/tomorrow-theme
 *
 * @author Rose Pritchard
 */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
